@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
body {
  font-family: "Jost", sans-serif;
}
html.no-scroll,
body.no-scroll {
  overflow-y: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* COMMON STYLE */
/* .section {
  padding-top: 100px;
} */
.container {
  max-width: 1110px;
  margin: auto;
}
.title {
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  font-style: normal;
  color: #282739;
  text-transform: uppercase;
}
.title-size-M {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #282739;
  text-transform: none;
}
.title-size-S {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #282739;
  text-transform: none;
}
.title-color-light {
  color: #fff;
}
.button {
  background-color: #6f73ee;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s;
}
.button:hover {
  opacity: 0.8;
}
.button-light {
  background-color: #fff;
  color: #6f73ee;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button-light:hover {
  background-color: #a8abff;
  color: #fff;
}

/* NAVBAR */
.navbar {
  height: 100%;
}
.header-nav-wrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  min-height: 39px;
  list-style: none;
  z-index: 200;
  border-bottom: 1px solid #ecf3ff;
}
.header-nav-wrapper-container {
  display: flex;
  padding-top: 19px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 11px;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header-nav-menu-wrapper {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-nav-close {
  display: none;
}
.header-nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
  transition: color 0.3s;
}
.header-nav-link:hover {
  color: #6f73ee;
}
.header-nav-social {
  margin-left: 30px;
}
.header-nav-social-link:not(:last-child) {
  margin-right: 5px;
}
.nav-social-icon {
  fill: #5d6c7b;
  width: 12px;
  height: 12px;
  transition: fill 0.3s;
}
.nav-social-icon:hover {
  fill: #6f73ee;
}
.header-phone-link {
  left: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
  transition: color 0.3s;
}
.header-phone-link:hover {
  color: #6f73ee;
}
.burger-menu {
  display: none;
}
.logo {
  font-size: 30px;
  font-weight: 700;
}
.search {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 19px;
  margin-left: 35px;
}
.button-burger-icon {
  height: 14px;
  width: 14px;
  margin-right: 10px;
}
.search-form {
  flex-shrink: 0;
  width: 100%;
  max-width: 603px;
  margin-left: 20px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #6f73ee;
}
.search-form input {
  padding: 8px 20px;
  width: calc(100% - 40px);
  height: 100%;
}
.search-wrapper {
  height: 100%;
  display: flex;
}
.button-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;

  border-radius: 0;
}
.search-icon {
  width: 16px;
  height: 16px;
}
.control-block-link {
  color: #282739;
  text-decoration: none;
}
.control-block {
  display: flex;
  align-items: center;
  margin-left: 47px;
}
.control-block-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.control-block-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-block-text {
  margin-left: 12px;
}
.control-block-icon {
  width: 20px;
  height: 20px;
}

/* MAIN */
.main {
  padding-top: 40px;
}
.main-img {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  background-image: url(../img/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
}
.main-content {
  padding: 54px 0;
}
.title-main {
  max-width: 612px;
}
.main-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 5px;
}
.main-content-elements {
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.main-content-element {
  display: flex;
  align-items: center;
}
.main-element-icon-wrapper {
  margin-right: 19px;
  padding: 12px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.2);
}
.main-element-icon {
  z-index: 10;
  fill: #fff;
  width: 16px;
  height: 16px;
}
.main-content-element-text {
  max-width: 143px;
  color: #fff;
}
.main-button {
  margin-top: 34px;
  padding: 15px 41px;
}
.adress {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}
.adress-icon {
  margin-right: 8px;
  width: 15px;
  height: 15px;
}
.adress-info-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}
.time-info-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: hsla(0, 0%, 100%, 0.7);
}

/* PROMO BLOCK 1 */
.promo-block {
  padding-top: 70px;
}
.promo-block-wrapper {
  padding: 30px 0;
  position: relative;
}
.promo-block-title {
  max-width: 645px;
}
.promo-block-description {
  margin-top: 29px;
}
.promo-block-list {
  margin-top: 16px;
}
.promo-block-list-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #282739;
}
.promo-block-icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.promo-block1-img {
  position: absolute;
  top: 0;
  right: -135px;
}

/* PROMO BLOCK 2 */
.promo-block-2 {
  padding-top: 105px;
}
.promo-block-content {
  padding-top: 29px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.promo-block-2-wrapper {
  max-width: 634px;
  position: relative;
  width: 100%;
}
.promo-block-2-title {
  max-width: 584px;
}
.promo-block-2-description {
  margin-top: 27px;
}
.promo-block-2-list {
  margin-top: 16px;
}
.promo-block-2-list-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #282739;
}
.promo-block-2-icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.promo-block-2-img {
  position: absolute;
  top: 0;
  left: -135px;
}

/* PRODUCT */
.product {
  margin-top: 140px;
}
.product-title {
  text-align: center;
  margin: 0 auto;
  max-width: 840px;
}
.product-cards-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 49px 0;
}
.product-card {
  position: relative;
  max-width: 257px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eaebed;
}
.product-card-title {
  letter-spacing: -0.9px;
}
.product-card-top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10px;
}
.marker {
  font-size: 12px;
  line-height: 17px;
  border-radius: 5px;
  color: #fff;
  padding: 4px 9px;
}
.marker-hit {
  background-color: #ee685f;
}
.marker-new {
  background-color: #75d14a;
}
.product-card-icon {
  width: 20px;
  height: 20px;
  fill: #5d6c7b;
}
.product-card-footer {
  padding: 18px 25px;
}
.product-card-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 12px;
  margin-top: 18px;
}
.product-card-feature-item {
  display: flex;
  align-items: center;
  width: 93px;
  color: #5d6c7b;
}
.product-card-feature-icon {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}
.price-block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.price-old {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5d6c7b;
}
.price-new {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #282739;
}
.price-block-icons {
  display: flex;
  column-gap: 10px;
}
.price-block-icon-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #eaebed;
  border-radius: 50%;
}
.price-block-icon {
  width: 20px;
  height: 20px;
  fill: #6f73ee;
}
.product-button {
  margin-top: 16px;
  padding: 10px 0;
  width: 100%;
  font-size: 12px;
  line-height: 17px;
}

/* CALL TO ACTION */
.cta-section {
  padding-top: 52px;
}
.cta-bg {
  background-color: #f4f7fb;
  background-size: 100%;
  border-radius: 5px;
  max-width: 1380px;
  margin: 0 auto;
}
.cta {
  position: relative;
}
.cta-img {
  position: absolute;
  right: 42px;
  top: -51px;
}
.cta-content {
  padding-top: 88px;
  padding-bottom: 80px;
}
.cta-title {
  max-width: 612px;
}
.cta-text {
  margin-top: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
}
.cta-form-row {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.input-user-phone {
  padding: 15px 25px;
  height: 100%;
  width: 263px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #eaebed;
  background-color: #fff;
}
.cta-button {
  padding: 15px 25px;
  margin-left: 20px;
}
.checkboxes-item {
  margin-top: 19px;
}
.checkbox-label {
  display: flex;
  align-items: flex-start;
  cursor: default;
}
.checkbox-input {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox-checkmark {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.modal-checkbox-checkmark {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #f4f7fb;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 3px;
}
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/checkbox.svg");
  background-size: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}
.checkbox-input:checked + .checkbox-checkmark:after {
  opacity: 1;
}
.checkbox-body {
  margin-left: 13px;
  user-select: none;
  cursor: pointer;
  max-width: 307px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #282739;
}

/* CTA email */
.cta-email {
  margin-top: 97px;
}
.cta-email-bg {
  background-color: #6f73ee;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
}
.cta-email-wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 21px;
}
.cta-email-text {
  max-width: 440px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
}
.cta-email-form {
  display: flex;
  align-items: flex-start;
  min-width: 570px;
  width: 100%;
  gap: 20px;
}
/* .cta-email-form-wrapper {
  width: 100%;
} */
.input-email {
  flex-shrink: 0;
  width: 100%;
  max-width: 410px;
  min-width: 410px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}
.input-email::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ffffff;
}
.input-email:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
}
.input-email::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
}
.input-email:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ffffff;
}
.cta-email-button {
  padding: 15px 25px;
}

/*  FOOTER */
.footer-bg {
  background-color: #f4f7fb;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
}
.footer-top {
  padding: 46px 0 75px;
  display: flex;
  justify-content: space-between;
}
.footer-top-list-content {
  display: flex;
  column-gap: 125px;
}
.footer-top-title {
  margin-bottom: 17px;
}
.footer-top-item {
  margin-bottom: 10px;
}
.footer-top-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5d6c7b;
  transition: color 0.3s;
}
.footer-top-item-link:hover {
  color: #6f73ee;
}
.footer-call-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6f73ee;
}
.footer-top-list-buyer {
  columns: 2;
  gap: 44px;
}
.footer-top-contact-wrapper {
  display: flex;
  columns: 2;
  column-gap: 20px;
}
.footer-top-contact {
  display: flex;
  flex-direction: column;
}
.footer-phone-description {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #282739;
}
.footer-phone {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282739;
  transition: color 0.3s;
}
.footer-phone:hover {
  color: #6f73ee;
}
.footer-phone-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 30px;
  border-top: 1px solid #5d6c7b40;
  border-bottom: 1px solid #5d6c7b40;
}
.footer-social-wrapper {
  display: flex;
}
.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  color: #282739;
  margin-right: 59px;
}
.footer-social-store {
  display: flex;
  gap: 10px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social-item {
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 7px;
  width: 123px;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
}
.footer-social-link {
  display: flex;
  align-items: center;
}
.footer-social-icon {
  margin-right: 13px;
  width: 20px;
  height: 20px;
}
.footer-social-text-wrapper span {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #5d6c7b;
}
.footer-social-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 20px;
}
.footer-bottom-info-block {
  display: flex;
  align-items: center;
  gap: 44px;
}
.footer-bottom-info-block-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5d6c7b;
  transition: color 0.3s;
}
.footer-bottom-info-block-link:hover {
  color: #6f73ee;
}
.footer-bottom-program-block-wrapper {
  display: flex;
  gap: 37px;
}
.footer-bottom-program-block {
  display: flex;
  gap: 4px;
}
.footer-bottom-program-block-icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid #eaebed;
  border-radius: 5px;
  width: 34px;
  height: 20px;
}
.icon-google-pay {
  width: 24px;
  height: 11px;
}
.icon-apple-pay {
  width: 24px;
  height: 11px;
}
.icon-visa {
  width: 24px;
  height: 8px;
}
.icon-mastercard {
  width: 23px;
  height: 14px;
}
.icon-maestro {
  width: 23px;
  height: 14px;
}
.icon-webmoney {
  width: 24px;
  height: 15px;
}
.icon-qiwi {
  width: 15px;
  height: 16px;
}
.chat-wrapper {
  display: flex;
  align-items: center;
}
.chat-text {
  margin-right: 15px;
}
.chat {
  display: flex;
  align-items: center;
  gap: 17px;
}
.chat-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
}
.icon-chat {
  height: 16px;
  width: 16px;
  fill: #5d6c7b;
  transition: fill 0.3s;
}
.icon-chat:hover {
  fill: #6f73ee;
}

/* MODAL */
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-132%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 45, 51, 0.5);
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 45, 51, 0.5);
}
.modal-dialog {
  display: flex;
  column-gap: 69px;
  position: relative;
  opacity: 0;
  transform: translateY(-10%);
  transition: transform 0.3s, opacity 0.3s;
  padding-top: 40px;
  padding-bottom: 37px;
  padding-left: 40px;
  padding-right: 57px;
  background-color: #ffffff;
  max-width: 790px;
  width: 100%;
}
.modal-content {
  width: 100%;
}
.modal-img {
  flex-shrink: 0;
  margin-top: 8px;
}
.modal-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  max-width: 277px;
  margin-bottom: 7px;
}
.modal-cta {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  max-width: 286px;
}
.modal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #282739;
  margin-bottom: 29px;
}
.modal-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 263px;
  row-gap: 16px;
  margin-top: 90px;
  margin-bottom: 20px;
}
.modal-form-wrapper {
  width: 100%;
}
.input-group-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #5D6C7B;
  cursor: text;
}
.modal-input-user-phone {
  padding: 15px 25px;
  max-width: 263px;
  width: 100%;
  border: 1px solid #eaebed;
  border-radius: 5px;
}
.modal-button {
  padding: 15px 57px;
}
.modal-checkbox-item {
  max-width: 228px;
  margin: 0 auto;
}
.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}
.modal-close-button svg {
  width: 20px;
  height: 20px;
}

.politic-link {
  text-decoration: underline;
}
.modal-politic-link {
  color: #6F73EE;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1050px;
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 51px;
    font-style: normal;
    color: #282739;
    text-transform: uppercase;
  }
  .title-size-M {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #282739;
    text-transform: none;
  }
  .title-size-S {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #282739;
    text-transform: none;
  }
  .title-color-light {
    color: #fff;
  }
  .search-form {
    max-width: 555px;
  }
  .main-img {
    max-width: 1190px;
  }
  .title-main {
    max-width: 485px;
  }
  .promo-block-title {
    max-width: 520px;
  }
  .promo-block1-img {
    right: -70px;
  }
  .promo-block-2-title {
    max-width: 530px;
  }
  .promo-block-2-img {
    left: -70px;
  }
  .promo-block-2-wrapper {
    max-width: 465px;
  }
  .cta-email-text {
    color: #ffffff;
  }
  .cta-email-wrapper {
    gap: 30px;
  }
  .cta-email-input-group {
    margin-right: 20px;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 930px;
  }
  .title {
    font-size: 25px;
    line-height: 44px;
  }
  .title-color-light {
    color: #fff;
  }
  .search-form {
    max-width: 390px;
  }
  .search-button {
    margin-left: 20px;
  }
  .control-block {
    margin-left: 20px;
  }
  .button {
    font-size: 14px;
  }
  .button-light {
    font-size: 14px;
  }
  .main {
    padding-top: 20px;
  }
  .main-img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #6f73ee;
    background-image: none;
    border-radius: 0;
  }
  .main-element-icon-wrapper {
    padding: 9px;
  }
  .main-text {
    font-size: 18px;
    margin-top: 0px;
  }
  .main-content-elements {
    margin-top: 15px;
  }
  .main-element-icon {
    width: 14px;
    height: 14px;
  }
  .main-button {
    margin-top: 20px;
    padding: 10px 30px;
  }
  .promo-block-title {
    max-width: 460px;
  }
  .promo-block-list {
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .promo-block1-img {
    position: static;
    right: -35px;
  }
  .promo-block-list-item {
    font-size: 12px;
  }
  .promo-block-content {
    flex-direction: column;
  }
  .promo-block-2-wrapper {
    margin-bottom: 30px;
    max-width: 520px;
  }
  .promo-block-2-img {
    position: static;
    left: -35px;
  }
  .promo-block-2-list-item {
    font-size: 12px;
  }
  .product-title {
    margin: 0 auto;
    max-width: 544px;
  }
  .product-cards-wrapper {
    row-gap: 25px;
    flex-wrap: wrap;
    max-width: 544px;
    margin: 0 auto;
  }
  .cta-title {
    max-width: 530px;
  }
  .cta-img {
    display: none;
  }
  .cta-email-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 820px;
  }
  .search-form {
    max-width: 310px;
  }
  .promo-block {
    padding-top: 30px;
  }
  .promo-block-2 {
    padding-top: 30px;
  }
  .promo-block-2-wrapper {
    max-width: 570px;
  }
  .promo-block-2-title {
    max-width: 570px;
  }
  .cta-email-form {
    max-width: 270px;
    min-width: 270px;
    flex-direction: column;
  }
  .footer-top {
    padding: 40px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    max-width: 600px;
  }
  .footer-top-contact-wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .footer-social {
    display: flex;
    row-gap: 30px;
    flex-direction: column;
  }
  .footer-social-list {
    gap: 40px;
  }
  .modal-img {
    display: none;
  }
  .modal-dialog {
    padding: 55px 20px;
    column-gap: 0;
    max-width: 300px;
    width: 100%;
  }
  .modal-title {
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .modal-form {
    margin-top: 60px;
  }
  .input-group-label {
    margin-bottom: 10px;
  }
  .modal-button {
    padding: 15px 0;
    width: 100%;
  }
}

@media (max-width: 841px) {
  .container {
    max-width: 500px;
  }
  .control-block {
    display: none;
  }
  .search-form {
    max-width: 260px;
  }
  .promo-block1-img {
    width: 500px;
    height: 400px;
  }
  .promo-block-2-img {
    width: 500px;
    height: 400px;
  }
  .cta-form-row {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
  }
  .cta-button {
    margin-left: 0;
    margin-top: 10px;
  }
  .cta-email-form {
    min-width: 100%;
  }
  .cta-email {
    margin-top: 40px;
  }
  .cta-email-form-wrapper {
    width: 100%;
  }
  .input-email {
    min-width: 100%;
  }
  .footer-top-list-content {
    display: flex;
    row-gap: 30px;
    column-gap: 0;
    flex-direction: column;
  }
  .footer-bottom {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 280px;
  }
  .title {
    font-size: 25px;
    line-height: 30px;
    text-transform: none;
  }
  .title-size-M {
    font-size: 16px;
    line-height: 29px;
  }
  .title-size-S {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #282739;
    text-transform: none;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  .burger-icon {
    width: 24px;
    height: 24px;
    fill: #6f73ee;
  }
  .header-nav {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: right 0.2s;
  }
  .header-nav.active {
    right: 0;
  }
  .header-nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 24px;
    height: 24px;
  }
  .burger-close {
    fill: #6f73ee;
    width: 24px;
    height: 24px;
  }
  .header-nav-item {
    height: auto;
  }
  .header-nav-social {
    margin-left: 0px;
  }
  .adress {
    display: flex;
    row-gap: 5px;
    margin-bottom: 19px;
    flex-wrap: wrap;
  }
  .main-text {
    font-size: 14px;
  }
  .main-content-elements {
    gap: 10px;
    flex-wrap: wrap;
  }
  .search-form {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .search {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .promo-block-2 {
    margin-top: 10px;
  }
  .promo-block-2-img {
    width: 100%;
  }
  .product {
    margin-top: -85px;
  }
  .product-cards-wrapper {
    width: 100%;
    max-width: 100%;

    padding: 30px 0;
    justify-content: space-around;
  }
  .price-old {
    font-size: 10px;
  }
  .price-new {
    font-size: 16px;
  }
  .cta-title {
    max-width: 385px;
  }
  .cta-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cta-form-row {
    width: 100%;
  }
  .cta-email-form {
    max-width: 100%;
    min-width: 100%;
    row-gap: 15px;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
  }
  .footer-top-list-buyer {
    columns: 1;
  }
  .footer-social-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .footer-social-store {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .footer-social-list {
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 35px;
  }
  .footer-bottom-program-block-wrapper {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}
